html {

    font-size: 62.5%;

}


body {

min-height: 100vh;
min-width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-color: black;

}



.div1 {

width: 20rem;
height: 400rem;
border-radius: 1.5rem;
background-color: white;





}